<%- include("header") -%> 

<h2>This is a about page.</h2>

<p>sncjpbieugfxnknjieyfgsdckmcpkf8u43iucbchyufyvcbcjf hrfburfbuidd chifdbc8 f dcrf fifig84gf nciwug9ddlccb </p>

<%- include("footer") -%> 